{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет я Антон автор проекта ! </h1>
  <h2>Немного обо мне -работаю в комерческом медицинском центре с документами
    Живу В Санк-Петербурге всю свою жизнь и люблю свой город !
    Планирую стать крутым разрабом и посвятить себя этому делу полностью!
    В работе над проектом мне помогает моя жена Таня  и моя Собака (Мопс) Мотя 
    Недавно у Моти было день рождение вот ее фотография надеюсь вам она понравиться
    так же сильно как и мне </h2>
<img src="{% static "img/Жук (2).jpg" %}"  alt="">
<img src="{% static "img/Жук (6).jpg" %}"  alt="">
<img src="{% static "img/Жук (3).jpg" %}"  alt="">
{% endblock %} 