{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <h2>Пока если честно ничего не умею .... 
    Поэтому вот картинка как я был в отпуске</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p> "Технологии"</p>
  </article>
  <img src="{% static "img/Технологии.jpg" %}"  alt="">
</div>
{% endblock %} 