{% extends 'base.html' %}
{% block title %} профайл пользователя {{ author}} {% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Все посты пользователя {{ author}}</h1>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    {% for post in page_obj %}
      {% include 'posts/includes/post_card.html' with flag_profile=True %}
      {% if not forloop.last %}<hr>{% endif %} 
    {% endfor %}  
  </div>
</div>
{% include 'posts/includes/paginator.html' %}
{% endblock %}